body{
/* Dégradé de couleur  (source: http://www.colorzilla.com/gradient-editor) */
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 19%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(19%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7db9e8 19%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7db9e8 19%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7db9e8 19%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7db9e8 19%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

display: inline;
background-repeat: no-repeat;
background-position: right top;
height: 100%;
font-family: arial;
background-attachment: fixed;
}

ul{
width: auto;
margin: auto;
padding-left: 200px;
}

li{
list-style: none;
margin: 20px;
margin-right: 40px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
width: auto;
height: 30px;
display: inline;
font-size: 26px;
text-decoration: none;
border: solid #cedce7 2px;
}

li:hover{
/* Dégradé de couleur  (source: http://www.colorzilla.com/gradient-editor) */
background: -moz-linear-gradient(top,  rgba(206,220,231,0.63) 0%, rgba(89,106,114,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,0.63)), color-stop(100%,rgba(89,106,114,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,220,231,0.63) 0%,rgba(89,106,114,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,220,231,0.63) 0%,rgba(89,106,114,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,220,231,0.63) 0%,rgba(89,106,114,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,220,231,0.63) 0%,rgba(89,106,114,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1cedce7', endColorstr='#80596a72',GradientType=0 ); /* IE6-9 */

border-radius: 5px;
border: solid black 2px;
}



a:hover, a:visited, a:link, a:active
{
text-decoration: none;
color: black;
}

body, html{ width:100%; height:100%; padding: 0; margin: 0;}
header{ width:100%; height: 70px; }
section{ width: 100%; height: calc(100% - 70px);}

#corps{
width: 60%;
height: auto;
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
padding: 20px;
padding-top: 5px;
padding-bottom: 10px;
background-color: white;
font-size: 18px;
text-align: justify;
color: #4D4D4D;
}

#titre{
background-color: #cedce7;
width: 100%;
padding: 20px;
padding-left: 200px;
/*border-bottom: solid 4px #98b1c5;*/
}

#menu{
background-color: white;
width: 100%;
padding: 20px;
background-color: #cedce7;
border-bottom: solid black 2px;
/*border-top: solid 2px #b9cad8;*/
}

#texte_titre{
padding-top: 10px;
vertical-align: middle;
font-size: 32px;
}

h1{
font-size: 28px;
}

h2, h3{
color: black;
margin-bottom: 30px;
}

hr{

}

span#black{
color: black;
}

img#git{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
img#git:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
}
